@{
    ViewData["Title"] = "SalesOrders";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-gear"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="container">
                    <div id="grid"></div>
                    <div id="dialog"></div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Styles{
    <style>
        .grand-total-text{
            font-size: 1.6rem;
            /*font-weight: bold;*/
        }
    </style>
}

@section Scripts{
    <script>
                //var FETCH_URL = "/SalesOrder/GetAll";
                //var EDIT_URL = "/SalesOrder/Edit";
                //var DELETE_URL = "/SalesOrder/Delete/";
                //var CREATE_URL = "/SalesOrder/Create";
    </script>
    <script id="dialogtemplate" type="text/x-template">
                <div>
                    <div class="form-row" >
                      <div class="form-group">
                        <div>
                            <input id="Customer" name="Customer" type="text" />
                        </div>                        
                      </div> 
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <div>
                                <input id="Product" name="Product" type="text" />
                            </div>
                        </div> 
                        <div class="form-group">
                            <div>
                                <button id="add-product-btn" name="add-product-btn">Add Product</button>
                            </div>
                        </div>
                    </div>
                     <div class="form-row">
                         <div class="form-group">
                               <div id="product-list"></div>
                          </div>
                    </div>
                        
                </div>      
    </script>

    <script src="~/Scripts/IMS/SalesOrder/salesOrder.js"></script>
}